<section class="content">
    <div class="content__form">
        <form id="form" class="form form--registro" novalidate autocomplete="off">
            <h1>Registro</h1>
            <div>

                <input type="text" class="form_input" placeholder="NOMBRE USUARIO" id="nombre" required>
            </div>
            <div>

                <input type="email" class="form_input" placeholder="CORREO" id="correo" required>
            </div>
            <div>

                <input type="number" class="form_input " placeholder="TELÉFONO" id="telefono" required>
            </div>
            <div>
                
                <input type="password" class="form_input" placeholder="CONTRASEÑA" id="contrasena" required>
            </div>
            <button type="submit" class="form_boton" id="btnRegister">Registrarse</button>            
        </form>
    </div>
</section>