<section class="content">
  <div class="content__form">
    <form id="form" class="form" novalidate autocomplete="off">
      <h1>Inicio de sesion</h1>
      <input type="email" class="form_input" placeholder="CORREO" id="correo" required>
      <input type="password" class="form_input" placeholder="CONTRASEÑA" id="contrasena" required>
      <button type="submit" class="form_boton" id=" btnRegister">Iniciar Sesion</button>
      <a href="#/registro" class="btnLogin ">No esta registrado?, <u>ingrese aquí</u></a>
    </form>
  </div>
</section>