<section class="content">
  <div class="content__form">
    <form id="form" class="form form--login" novalidate autocomplete="off">
      <h1 class="form_titulo">Inicio de sesión</h1>
      <input type="email" class="form_input form_input--login" placeholder="CORREO" id="correo" required>
      <input type="password" class="form_input form_input--login" placeholder="CONTRASEÑA" id="contrasena" required>
      <button type="submit" class="form_boton">Iniciar Sesión</button>
    </form>
  </div>
</section>