<a href="#/superadmin" class="usuarios__btn usuarios__btn--link">⬅ Volver</a>

<section class="usuarios usuarios--border usuarios--tamano" id="usuarios-form-section">
  <h2 class="usuarios__titulo">Gestión de Usuarios</h2>

  <form class="usuarios__form" id="form" autocomplete="off">
    <input type="hidden" id="id" class="usuarios__input" />

    <div class="usuarios__grupo">
      <label for="nombre" class="usuarios__label">Nombre:</label>
      <input type="text" id="nombre" class="usuarios__input" required />
    </div>

    <div class="usuarios__grupo">
      <label for="correo" class="usuarios__label">Correo:</label>
      <input type="email" id="correo" class="usuarios__input" required />
    </div>

    <div class="usuarios__grupo">
      <label for="telefono" class="usuarios__label">Teléfono:</label>
      <input type="text" id="telefono" class="usuarios__input" maxlength="10" />
    </div>

    <div class="usuarios__grupo">
      <label for="contrasena" class="usuarios__label">Contraseña:</label>
      <input type="password" id="contrasena" class="usuarios__input" required />
    </div>

    <div class="usuarios__grupo">
      <label for="rol" class="usuarios__label">Rol:</label>
      <select id="rol" class="usuarios__input" required>
        <option value="">Seleccione un rol</option>
      </select>
    </div>

    <div class="usuarios__acciones">
      <button type="submit" class="usuarios__btn btn__confirmar" id="btnRegister">Guardar</button>
      <button type="button" class="usuarios__btn btn__limpiar" id="btnReset">Limpiar</button>
      <a href="#/tablaUsuarios" class="usuarios__btn usuarios__btn--link">Ver Usuarios</a>
    </div>
  </form>
</section>
