.btn__confirmar, .btnEditar {
  background-color: var(--verdeBotones);
  color: var(--letraBotones);
}

.btn__confirmar:hover, .btnEditar {
  background-color: var(--verdeOscuro);
  transform: scale(1.05);
}

.btn__limpiar, .btnEliminar:hover {
  background-color: var(--verdeClaro);
  color: var(--letraBtnVerde);
}

.btn__limpiar:hover .btnEliminar:hover {
  background-color: var(--btnClaroHover);
  transform: scale(1.05);
}