@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}

:root{
  --colorFondo: #A9DEA6;
  --verdeOscuro: #10610C;
  --verdeClaro: #E2FFD8;
  --verdeBotones: #66bb6a;
  --letraBotones: white;
  --btnClaroHover: #a5d6a7;
  --letraBtnVerde: #2e7d32;
  --placeholderOscuro: #444;
  --letrasBlancas: white;
  --fondoBlanco: white;
  --labelVerde: #2f4f2f;
  --azul: #3498db;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center; 
}
 /* @media (max-width: 896px) {
  .logo__imagen{
    width: 35vw;
  }
  
 } */