<section class="usuarios usuarios--border usuarios--tamano" id="usuarios-form-section">
  <h2 class="usuarios__titulo">Generar Tickets</h2>

  <form class="usuarios__form" id="ticketsForm" autocomplete="off">
    <div id="ticketsContainer"></div>

    <div class="usuarios__acciones ">
      <button type="submit" class="usuarios__btn btn__confirmar">Guardar Tickets</button>
      <button type="button" class="usuarios__btn btn__limpiar" id="btnReset">Limpiar</button>
    </div>
  </form>
</section>
