<div class="header-main">
  <div class="logo">
    <img class="logo__imagen" src="../../public/logo.png" alt="">
  </div>
  <div class="busqueda">
    <!-- src/components/autenticacion/header.html -->
    <form id="buscar-ticket-form">
      <input 
        class="busqueda__input" 
        type="text" 
        placeholder="Consulta tu ticket" 
        name="ticket" 
        autocomplete="off">
      <button type="submit" class="busqueda__logo">
        <i class='bx bx-search-alt'></i>
      </button>
    </form>
  </div>
  <nav class="menu_autenticacion" id="menu-autenticacion">
    <ul class="menu_autenticacion__opciones">
      <li class="menu_autenticacion__opcion" id="login">
        <a href="#/login" class="menu_autenticacion__link">Log In</a>
      </li>
    </ul>
    <ul class="menu_autenticacion__opciones">
      <li class="menu_autenticacion__opcion" id="siginup">
        <a href="#/registro" class="menu_autenticacion__link">Sign up</a> 
      </li>
    </ul>
  </nav>
</div>
