<section class="usuarios" id="usuarios-tabla-section">
  <div class="usuarios__acciones-superior">
    <a href="#/ciudades" class="usuarios__btn usuarios__btn--link">← Volver</a>
  </div>

  <h2 class="usuarios__titulo">Lista de Ciudades</h2>

  <table class="usuarios__tabla" id="tablaCiudades">
    <thead class="usuarios__tabla-head">
      <tr>
        <th class="usuarios__tabla-th">ID</th>
        <th class="usuarios__tabla-th">Pais</th>
        <th class="usuarios__tabla-th">Nombre</th>
        <th class="usuarios__tabla-th">Terminal</th>
        <th class="usuarios__tabla-th">Aeropuerto</th>
        <th class="usuarios__tabla-th">Puerto</th>
        <th class="usuarios__tabla-th">Acciones</th>
      </tr>
    </thead>
    <tbody class="usuarios__tabla-body">
      <!-- Se llenará dinámicamente -->
    </tbody>
  </table>
</section>
